.center {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    margin-top: 10%;
    }
    
    .center-inside {
       
        display: flex;
        flex-direction: column;
        align-items: center;
        }