.site-card-border-less-wrapper {
    padding: 30px;
    background: #ececec;
  }

.button-footer {
display: flex; 
align-items: center;  
justify-content:center; 
margin-top: 25px;
}

.thumb-block {
 display: flex;
 
}

.divider-150{
    width: 150px;
}